# object code;
*.o

# CLion project
.idea/

# specific executables
client
server

# for testing
*.txt
__client_1_args__
__client_1_stdin__
__server_args__
__server_stdout__
*.dump

# cpp lint
cpplint.py
execute.sh
filter_options
